.business {
  width: 100%;
  height: 745px;
  background-color: var(--background);
  position: relative;
}

.business .container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  width: 100%;
  margin: auto;
  color: #ecf1f0;
  justify-content: center;
}

.business::before {
  content: "";
  background: #7000ff;
  border-radius: 50%;
  width: 250px;
  height: 190px;
  position: absolute;
  left: 0;
  top: 100px;
  filter: blur(400px);
  z-index: -1;
}

.cryptocap-features {
  display: flex;
  flex-direction: column;
  gap: 69px;
  align-items: center;
}

.top {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.top p {
  color: var(--para);
  padding: 10px;
  margin-top: 15px;
}

.cards-features {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 24px;
  align-items: center;
  align-self: stretch;
}

.card-1 {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 18px;
  border: 1px solid #ffffff05;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 30px 0;
  flex: 1;
  align-items: center;
  backdrop-filter: blur(100px);
  transition: 0.5s;
}

.card-1:hover {
  background-color: #11011e;
  border: 1px solid var(--para);
  transition: 0.5s;
  transform: translateY(-5px) scale(1.005) translateZ(0);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding: 30px 28px;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: stretch;
}

.card-text p {
  color: var(--para);
  line-height: 1.7rem;
}

.card-link {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: var(--primary);
  align-items: center;
  cursor: pointer;
}
