@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&family=Roboto:wght@400;500&display=swap");
body {
  background-color: #11011e;
}
:root {
  --primary: #0fae96;
  --background: #11011e;
  --para: #b6b6b6;
}

.primary {
  color: var(--primary);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1440px;
  margin: auto;
}

body {
  font-family: "Raleway", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 4.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
}

h3 {
  font-size: 2.25rem;
  line-height: 1.2;
}

h4 {
  font-size: 1.75rem;
  line-height: 1.2;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h6 {
  font-size: 1.25rem;
  line-height: 1.2;
}

p {
  font-size: 1.125rem;
}

.btn {
  padding: 12px 20px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: #fff;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  flex-shrink: 0;
}

.btn:hover {
  opacity: 80%;
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  h3 {
    font-size: 2.1rem;
    line-height: 1.2;
  }

  h5 {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  h6 {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  p {
    font-size: 1rem;
  }

  .btn {
    width: 80%;
    margin: 1rem 0;
  }
}
